*{/*Объявление общих стилей*/
    margin: 0; padding: 0;
    font-family: 'Tahoma';
}
h1, h2, h3, h4, h5, h6, .decor{font-family: 'Cormorant'; font-weight: normal;}
header, nav, section, footer, article, aside{display: block;}
ul {list-style-type: none;}

/*Стили для головы сайта*/
header img.logo{max-height: 67px; max-width: 62px;}
header #bur-menu{display: none; max-height: 40px; max-width: 36px;}
header #cart_img{
    max-height: 42px; max-width: 42px;
    border-radius: 10px; border-width: 10px;
    border-style: solid;
}
header #cart{border: none;}
header{padding-top: 10px; height: 100px; overflow: hidden !important;}
header ul li{
    display: inline;
    padding: 2vw;
}
header .logosection{
    display: flex;
    height: inherit;
}
header .logosection h2{padding-top: 5px;}
header #cart_counter{border: 1px solid;}


/*Стили для подвала сайта*/
footer{height: 100px;}
footer img.media{max-height: 40px; max-width: 40px;}
footer #copyright_bigscreen{display: flex;}
footer #copyright_smallscreen{margin-top: 12px ; display: none;}
footer .mediaholder{width: 174px; display: flex; justify-content: space-between;}

@media screen and (max-width: 550px) {/*Адаптивное отображение при уменьшении вкладки*/
    html {
       -webkit-text-size-adjust: none;
    }
    header nav{display:none;}
    header .cartholder{display:none;}
    header img.logo{max-height: 64px; max-width: 60px;}
    header #logo-name{display: none;}
    header #bur-menu{display: flex !important;}
    
    footer.container.flex{flex-flow: column; align-items: center;}
    footer .mediaholder{width: 234px !important;}
    footer #copyright_bigscreen{display: none;}
    footer #copyright_smallscreen{display: block !important;}
}

/*Классы для многоразового использования*/
.container{
    width: 87.5vw; margin: 0 auto;
    overflow: auto;
}
.flex {
    display: flex; justify-content: space-between;
    align-items: center; height: 100%;
}
