@import "./storeStyle.less";


/*Стили раздела для администрирования*/
.store #catalog .product .descript{
    display: none;
}

.store #catalog .product button.plus{ 
    .button(@green, @small_text, 10px, 5px);
    display: flex; justify-content: center; 
    align-items: center; margin: 5px auto; 
}
.store #catalog .product button.minus{ 
    .button(@red, @small_text, 10px, 5px);
    display: flex; justify-content: center; 
    align-items: center; margin: 5px auto; 
}