@import "./storeStyle.less";


/*Стили корзины*/
.store .container.flex{
    flex-wrap: wrap;
    justify-content: flex-start; gap: 3vh;
}

.store{
    .make_wider{width: 87.5vw;}
    #items{ 
        width: 86.5vw;
        .item{
            border-width: 1px; border-color: @light_gray; border-radius: 10px; border-style: solid;
            padding: 10px; width: 85.5vw; display: flex; margin-bottom: 2vh;
            .item_text{
                width: inherit; color: @dark;
                display: flex; align-items: center;
                margin-left: 2vw; justify-content: space-between;
                font-size: @text;
                .item_price{width: 8vw;}
            }
            .part_one{
                .item_name{width: 35vw;}
                display: flex;
                width: 40vw;
                justify-content: space-between;
            }
            .counter{
                display: flex; width: 80px; justify-content: space-between;
                position: relative;
                .item_count{
                    position: absolute; z-index: 3;
                    border-width: 1px; border-style: solid; border-color: @light_gray;
                    padding-left: 32px; padding-right: 28px; box-sizing: border-box;
                    padding-bottom: 1px; border-radius: 6px;
                }
            }

            img{
                width: 120px; height: 120px;
                object-fit: cover; border-radius: 10px;
                border-style: solid; border-width: @border-width; border-color: @light_gray;
            }
            button{
                text-align: center;
                .button(@red, @small_text, 5px, 2.2px);
                border-width: @border-width*2; border-style: solid; border-color: @red;
                border-radius: 5px;
                z-index: 6; 
            }
            button.plus{
                background-color: @green;
                border-width: @border-width*2; border-style: solid; border-color: @green;
            }
            button:hover{
                cursor: pointer; 
                background-color: @red + @color_diff*2;
                border-color: @red + @color_diff*2;
            }
            button.plus:hover{
                background-color: @green + @color_diff;
                border-color: @green + @color_diff;
            }

        }
        margin-bottom: 3vh;
    }
}

hr{
    width: 87vw;
    border: solid; border-color: @light_gray; border-width: 1px;
    margin-bottom: 3vh;
}

.store #order{
    #finishing{font-size: @header2;}
}

.store #form_pay_section{
    display: flex;
    justify-content: space-between;
    #formsection{
        width: 40vw;
        .red_star{color: @red;}
        input, textarea{
            width: 38vw;
            border-color: @light_gray; border-radius: 8px;
            border-image: none; border-style: solid;
            padding: 3px 15px;
            color: @dark;
        }
        textarea{height: 10vh; resize: none; font-size: @text_small;}
        input{height: 3vh; font-size: @text;}
        label{color: @dark; font-size: @text;}
    }

    #paysection{
        display: flex;
        align-items: center;
        flex-flow: column;
        width: 35vw;
        .pay_info{
            width: 34vw; display: flex;
            justify-content: space-between;
            margin-bottom: 3vh;
        }
        button{
            .button(@red, @small_text, 14vw, 5px);
        }
        button:hover{background-color: @red + @color_diff*2; cursor: pointer;}
        #alert{color: @gray; font-size: @small_text;}
        select{
            width: 220px;
            border-color: @light_gray; border-radius: 8px;
            border-image: none; border-style: solid;
            padding: 3px 15px;
            color: @dark;}
    }
}


/*Адаптивное отображение при уменьшении вкладки*/
@media screen and (max-width: 1200px) {
    .store #items .item{width: 84vw;}
    .store{
        #items{
            .item{
                .part_one{
                    display: block;
                    width: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .store #form_pay_section{
        #paysection{
            display: flex;
            align-items: center;
            flex-flow: column;
            width: 40vw;
            .pay_info{
                width: 40vw;
            }
        }
    }
    .store{
        #items{ 
            .item{
                .item_text{
                    width: inherit; color: @dark;
                    display: flex; align-items: center;
                    margin-left: 2vw; justify-content: space-between;
                    font-size: @text;
                    .item_name{width: 35vw;}
                    .item_price{width: 15vw;}
                }
            }
        }
    }
}
@media screen and (max-width: 770px) {
    .store #form_pay_section{
        display: flex;
        flex-wrap: wrap;
        #paysection{
            display: flex;
            align-items: center;
            flex-flow: column;
            width: 80vw;
            .pay_info{
                width: 80vw;
            }
            button{
                .button(@red, @small_text, 30vw, 5px);
            }
        }
        #formsection{
            width: 80vw;
            .red_star{color: @red;}
            input, textarea{
                width: 78vw;
            }
        }
    }
}
@media screen and (max-width: 652px) {
    .store{
        #items{ 
            .item{
                .item_text{
                    font-size: @text_small;
                }
                img{
                    width: 90px; height: 90px;
                }
            }
        }
    }
    .store #order{
        #finishing{font-size: @header2_small;}
    }
    .store #form_pay_section{
        #formsection{
            textarea{height: 10vh; resize: none; font-size: @small_text_small;}
            input{height: 3vh; font-size: @text_small;}
            label{font-size: @text_small;}
        }
        #paysection{
            #alert{color: @gray; font-size: @small_text_small;}
        }
    }
    
}
@media screen and (max-width: 550px) {
    #cart{
        padding: 10px;
    }
}

@media screen and (max-width: 400px) {
    #form_pay_section{
        padding-left: 4vw;
    }
}