@import "../../assets/vars.less";

#adver{overflow: hidden !important; position: relative;}
#advert img{
    max-width: 100vw;
    object-fit: cover;
    z-index: 0;
    filter: brightness(60%);
    min-height: 80vh;
}
#advert .container.flex{
    padding-top: 15vw;
    color: @white; z-index: 2;
    position: absolute; margin-left: 6.25vw;
    flex-flow: column;
    height: auto; gap: 25vw;
}
#advert .container.flex h1{
    font-size: @header1*1.8;
    margin-right: 15vw;
}
#advert .container.flex h2{font-size: @header2*1.8;}
#showMore {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
}
#showMore svg {
    width: clamp(60px, 10vw, 86px);
    height: auto;
}

/*Адаптивное отображение при уменьшении вкладки*/
@media screen and (max-width: 1440px) {
    #advert .container.flex h1{
        font-size: @header1*1.5;
    }
    #advert .container.flex h2{font-size: @header2*1.5;}
}
@media screen and (max-width: 1200px) {
    #advert .container.flex h1{
        font-size: @header1*1.2;
    }
    #advert .container.flex h2{font-size: @header2*1.2;}
}
@media screen and (max-width: 1000px) {
    #advert .container.flex h1{
        font-size: @header1;
    }
    #advert .container.flex h2{font-size: @header2;}
}
@media screen and (max-width: 940px) {
    #advert .container.flex{gap:23vw;}
}
@media screen and (max-width: 860px) {
    #advert .container.flex{gap:21vw;}
}
@media screen and (max-width: 770px) {
    #advert .container.flex{
        padding-top: 15vh;
        gap:30vh;
    }
}
@media screen and (max-width: 724px) {
    #advert .container.flex h1{
        font-size: @header1_small*1.2;
    }
    #advert .container.flex h2{font-size: @header2_small*1.2;}
}
@media screen and (max-width: 652px) {
    #advert .container.flex h1{
        font-size: @header1_small;
    }
    #advert .container.flex h2{font-size: @header2_small;}
}
@media screen and (max-width: 550px) {
    #advert .container.flex h1{
        font-size: @header1_small;
    }
    #advert .container.flex h2{font-size: @header2_small;}
}